{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'blogApp/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'blogApp/jquery-3.0.0.min.js' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'blogApp/bootstrap-theme.min.css' %}" />

{%include "blogApp/top4ik.html"%}

<div class="container">
<h1>
{{this_post.post_head}}
</h1>
<dl class="dl-horizontal">
  <dt>Author</dt>
  <dd>{{this_post.post_author}} </dd>
        <dt>Post Date</dt>
  <dd>{{this_post.post_date}}</dd>
    <dt>Post</dt>
  <dd> <div class="panel panel-default">
  <div class="panel-body">
    {{this_post.post_text}}
  </div>
</div>
      </dd>
</dl>
<ul>
     <body>Comments: </body>
{% if this_comments %}
    {% for comment in this_comments %}
    <hr>
    <dl class="dl-horizontal">
        <dt>Comment author</dt>
          <dd> {{ comment.comment_author }}, &nbsp; <strong> date: </strong> {{comment.comment_date}}</dd>
        <dt>Comment</dt>
        <dd> <div class="panel panel-default">
          <div class="panel-body">{{ comment.comment_text }}</div>
            </div>
        </dd>
    </dl>
    {% endfor %}
    </ul>
{% else %}
    <p>No comments are available.</p>
{% endif %}
</ul>
{% block content %}
<form method="post" class="comment-form">{% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="save btn btn-default">add comment</button>
</form>
{% endblock %}
</div>